.git
.github
.ssh
.env
.env.*
README.md
*.log
logs/
tmp/
cache/

ComfyUI/
customui_comfy/
models/
loras/
output/
input/
user/
custom_nodes/

*.safetensors
*.ckpt
*.pth
*.pt
*.bin
*.onnx
*.gguf
*.zip
*.7z
*.tar
*.tar.gz

*.png
*.jpg
*.jpeg
*.webp
*.mp4
*.mov
*.gif
